<div class="modal-dialog text-center">
    <div class="col-sm-9 main-section modal-content">
        <div class="col-12 title"><h2>Lista de aplicantes</h2></div>
        <br>
        <div class="container">
            <div class="row">
              <div class="col-sm">
                <form >
                    <button
                    class="col"
                    type="primary"
                    class="btn btn-success">Ordenar
                    </button>
                </form>
              </div>
              <div class="col-sm">
                <div class="row">
                    <div class="col">
                      <div ngbDropdown class="d-inline-block">
                        <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Categoría</button>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                          <button ngbDropdownItem>Aplicantes de IT</button>
                          <button ngbDropdownItem>Aplicantes de inglés avanzado</button>
                          <button ngbDropdownItem>Aplicantes fuera del área de IT</button>
                        </div>
                      </div>
                    </div>
                  
              </div>
            </div>
          </div>
    </div>
  </div>
  