<div class="modal-dialog text-center">
    <div class="col-sm-9 main-section modal-content">
        <div class="col-12 title"><h2>Lista de aplicantes</h2></div>
        <br>
        <div class="container">
            <div class="row">
              <div class="col-sm">
                <div class="dropdown">
                  <div>
                    <select [(ngModel)]="selectedOption">
                      <option *ngFor="let option of options">
                         {{option.name}}
                      </option>
                   </select>
                  </div>
                  <br>
                  <button (click)="onSubmit()" class="btn btn-primary">Consultar</button>
                </div>              
              </div>
            </div>
          </div>
          <br>
          <ng-container #container></ng-container >
    </div>
  </div>
  
