<div class="modal-dialog text-center">
  <div class="col-sm-9 main-section">
    <div class="modal-content">
      <div class="col-12 title"><h2>Login</h2></div>
      <div class="col-12 user-img">
        <i class="far fa-user"></i>
      </div>
      <div class="col-12 form-input">
        <form (ngSubmit)="onLogin()" #login="ngForm">
          <!--Username-->
          <div class="form-group" style="padding-bottom: 5%">
            <input
              type="text"
              class="form-control"
              ngModel
              name="email"
              required
              placeholder="Usuario"
            />
          </div>

          <!--Password-->
          <div class="form-group" style="padding-bottom: 5%">
            <input
              type="password"
              class="form-control"
              ngModel
              name="password"
              required
              placeholder="Contraseña"/>
          </div>
          <button
            type="submit"
            class="btn btn-success"
            [disabled]="!login.valid">Ingresar
          </button>
        </form>
      </div>
      <button
        type="primary"
        class="btn btn-success"
        (click)="onNoAccount()">¿No estas registrado? Regístrate
      </button>
    </div>
  </div>
</div>
