<div class="modal-dialog text-center">
  <div class="col-sm-9 main-section">
    <div class="modal-content">
      <div class="col-12 title"><h2>Cuenta: {{this.email}}</h2></div>
      <div class="col-12 user-img">
        <i class="far fa-user"></i>
      </div>
      <div class="col-12 form-input">
        <form  #register="ngForm">
          <!--Password-->
          <div class="form-group" style="padding-bottom: 5%">
            <input
              type="password"
              class="form-control"
              ngModel
              name="password"
              required
              placeholder="Contraseña"
            />
          </div>

          <!--Name-->
          <div class="form-group" style="padding-bottom: 5%">
            <input
              type="text"
              class="form-control"
              [ngModel]="this.aplicante_info.full_name"
              name="full_name"
              required
              placeholder="Nombre completo"
            />
          </div>

          <!--Country-->
          <div class="form-group" style="padding-bottom: 5%">
            <input
              type="text"
              class="form-control"
              [ngModel]="this.aplicante_info.country"
              name="country"
              required
              placeholder="Pais de residencia"
            />
          </div>

          <!--University degree-->
          <div class="form-group" style="padding-bottom: 5%">
            <label style="padding-bottom: 5%" for="u_d">Para los siguientes se deben colocar entre [] y con "" para cada uno, si se tienen varios separarlos por comas</label>
            <input
              type="text"
              class="form-control"
              [ngModel]="this.aplicante_info.university_degree"
              id="u_d"
              name="university_degree"
              required
              placeholder="Titulos universitarios"
            />
          </div>

          <!--TI area-->
          <div class="form-group" style="padding-bottom: 5%">
            <label for="it">Pertenece al area de IT?</label>
            <input
              type="checkbox"
              [ngModel]="this.aplicante_info.ti_area"
              id="it"
              name="ti_area"
            />
          </div>

          <!--Programming languages-->
          <div class="form-group" style="padding-bottom: 5%">
            <input
              type="text"
              class="form-control"
              [ngModel]="this.aplicante_info.programming_languages"
              name="programming_languages"
              required
              placeholder="Lenguajes de programacion"
            />
          </div>

          <!--Languajes-->
          <div class="form-group" style="padding-bottom: 5%">
            <input
              type="text"
              class="form-control"
              [ngModel]="this.aplicante_info.languajes"
              name="languajes"
              required
              placeholder="Idiomas"
            />
          </div>

          <button
            type="submit"
            class="btn btn-success">Actulizar datos
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
