<div class="modal-dialog text-center">
  <div class="col-sm-9 main-section">
    <div class="modal-content">
      <div class="col-12 title"><h2>Registro</h2></div>
      <div class="col-12 user-img">
        <i class="far fa-user"></i>
      </div>
      <div class="col-12 form-input">
        <form (ngSubmit)="onRegister()" #register="ngForm">

          <!--Username-->
          <div class="form-group" style="padding-bottom: 5%">
            <input
              type="text"
              class="form-control"
              ngModel
              name="email"
              required
              placeholder="Usuario"
            />
          </div>

          <!--Password-->
          <div class="form-group" style="padding-bottom: 5%">
            <input
              type="password"
              class="form-control"
              ngModel
              name="password"
              required
              placeholder="Contraseña"
            />
          </div>

          <!--Name-->
          <div class="form-group" style="padding-bottom: 5%">
            <input
              type="text"
              class="form-control"
              ngModel
              name="full_name"
              required
              placeholder="Nombre completo"
            />
          </div>

          <!--Name-->
          <div class="form-group" style="padding-bottom: 5%">
            <input
              type="text"
              class="form-control"
              ngModel
              name="country"
              required
              placeholder="Pais de residencia"
            />
          </div>

          <div class="form-group" style="padding-bottom: 5%">
            
            <input
              type="text"
              class="form-control"
              ngModel
              id="u_d"
              name="university_degree"
              required
              placeholder="Titulos universitarios"
            />
          </div>

          <div class="form-group" style="padding-bottom: 5%">
            <label for="it">Pertenece al area de IT?</label>
            <input
              type="checkbox"
              ngModel
              id="it"
              name="ti_area"

            />
          </div>

          <div class="form-group" style="padding-bottom: 5%">
            <input
              type="text"
              class="form-control"
              ngModel
              name="programming_languages"
              required
              placeholder="Lenguajes de programacion"
            />
          </div>
          <label style="padding-bottom: 5%" for="u_d">Por favor introducir los idiomas con el siguiente formato: "idioma 1": "nivel", "idioma 2": "nivel" ...</label>
          <div class="form-group" style="padding-bottom: 5%">
            <input
              type="text"
              class="form-control"
              ngModel
              name="languajes"
              required
              placeholder="Idiomas"
            />
          </div>

          <button
            type="submit"
            class="btn btn-success">Ingresar
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
