.main-section {
  padding: 0;
  margin: 130px auto 0;
}

.modal-content {
  background-color: deepskyblue;
  border: darkblue 4px solid;
  padding: 0 18px;
}

title,
h2 {
  color: white;
  padding-top: 5%;
}

i,
user-img {
  padding: 5%;
}

button {
  margin-bottom: 5%;
  border: darkblue 1px solid;
}

btnReg {
  margin-bottom: 5%;
  background-color: deepskyblue;
  border: deepskyblue;
}
